.game-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.h1-dp {
    font-size: 42px;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the details container */
    margin-top: 20px;
    padding: 30px; /* Add padding around the details */
}

.details-image {
    width: 700px; /* Set a specific width for the image */
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    margin-right: 70px;
}

.favorite-wishlist-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.game-detail-text {
    font-size: 18px;
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the column */
    margin-top: 50px;
    width: 100%;
}

.review-form-container {
    margin-top: 60px;
    width: 50%;
}

.reviews-container-detailpage {
    width: 50%;
}

.link-back {
    margin-top: 20px;
}