* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1a1a1a; /* Dark background  */
  color: #fff; /* White text color */
}

/* Styling for the banner */
.banner {
  background-image: url('banner-image.jpg'); /* Replace with actual image URL */
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Styling for the game cards container */
.links-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  display:flex;
  justify-content: center;
}

/* Styling for individual link cards */
.link-card {
  background-color: #262626; /* Slightly lighter card background for contrast */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px; /* Reduced width */
  height: 150px; /* Reduced height */
}

.link-card:hover {
  transform: translateY(-5px);
}

.link-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media (max-width: 768px) {
  .banner {
    padding: 30px 10px;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }
}

.review-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  gap: 15px;
}

.review-card-container {
  width: 300px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.game-image {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.top-games {
  text-align: center;
}